:root {
  --red: hsl(345, 95%, 68%);
  --white: hsl(0, 0%, 100%);
  --blue-100: hsl(237, 18%, 59%);
  --blue-200: hsl(236, 21%, 26%);
  --blue-300: hsl(235, 16%, 14%);
  --blue-400: hsl(234, 17%, 12%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", serif;
}

p {
  
}

.launch {
  color: var(--white);
}

.App {
  background-color: var(--blue-300);
  background-image: url(/public/images/bg-stars.svg),
    url(/public/images/pattern-hills.svg);
  background-position: top center, bottom center;
  background-size: cover, contain;
  background-repeat: no-repeat, no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

@media (max-width: 600px) {
}

@media (min-width: 1440px) {
}
