:root {
  --red: hsl(345, 95%, 68%);
  --white: hsl(0, 0%, 100%);
  --blue-100: hsl(237, 18%, 59%);
  --blue-200: hsl(236, 21%, 26%);
  --blue-300: hsl(235, 16%, 14%);
  --blue-400: hsl(234, 17%, 12%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", serif;
}

p {
  
}

.launch {
  color: var(--white);
 
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.countdown p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: #ffffff;
}

.calendar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 60px; /* Adjust width */
  height: 60px; /* Adjust height */
  background-color: #1e293b; /* Background for the icon */
  border-radius: 8px; /* Rounded corners for the square shape */
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.calendar-icon::before,
.calendar-icon::after {
  content: '';
  position: absolute;
  width: 30px; /* Line width */
  height: 2px; /* Line thickness */
  background-color: #ffffff; /* Line color */
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.calendar-icon::after {
  width: 10px; /* Small line width */
  border-radius: 50%; /* Creates the semicircles */
  height: 10px;
  top: auto; /* Position near the bottom */
  bottom: -5px;
  left: 50%;
}


.App {
  background-color: var(--blue-300);
  background-image: url(/public/images/bg-stars.svg),
    url(/public/images/pattern-hills.svg);
  background-position: top center, bottom center;
  background-size: cover, contain;
  background-repeat: no-repeat, no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 600px) {
}

@media (min-width: 1440px) {
}
